*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.header_bar{
    background-color: #f7f7f7;
    border: 1px solid #ddd;
}
.header{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    color: #666;
    font-size: 15px;
    background-color: #f7f7f7;
}
.notice{
    line-height: 39px;
}
.user_nav ul{
    display: flex;
}
.user_nav ul li{
    padding: 8px;
}
.user_nav ul li a{
    color: #666;
}
.search_bar{
    width: 1200px;
    height: 115px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
}
.search_input{
    width: 470px;
    height: 38px;
    border: 1px solid #37ab40;
    outline: none;
}
.i{
    background: url(../image/Search.png) no-repeat 5px center;
    background-size: 30px;
    text-indent: 40px;
}
.btn_input{
    width: 100px;
    height: 41px;
    background-color: #37ab40;
    border: none;
    color: #fff;
}
.btn_input:hover{
    cursor: pointer;
}
.shopping_cart{
    width: 200px;
    height: 40px;
    border: 1px solid #ddd;
    display: flex;
}
.my_shopping_cart{
    flex: 0.8;
    text-align: center;
    line-height: 40px;
    color: #37ab40;
}
.my_shopping_cart a{
    color: #37ab40;
}
.shopping_cart_i{
    background: url(../image/iov-shoppingcart.png) no-repeat center;
    background-size: 30px;
    background-position-x: 10px;
    background-position-y: 5px;
    text-indent: 20px;
}
.shopping_number{
    flex: 0.2;
    background: #f80;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}


.product_classfy_wrap{
    font-size: 15px;
    width: 1200px;
    text-align: center;
    display: flex;
    border-bottom: 2px solid #37ab40;
    margin: 0 auto;
}
.product_classfy{
    color: #fff;
    background-color: #37ab40;
    padding: 10px 60px;
    font-weight: normal;
    font-size: 15px;
}
.huodong_li{
    display: flex;
    margin-left: 20px;
    
}
.huodong_li li{
    padding: 10px;
    
}
.huodong_li li a{
    padding-right: 15px;
    border-right: 1px solid #333;
    color: #666;
}
.product_container{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.classfy{
    flex: 0.2;
    font-size: 16px;
}
.classfy ul li{
    padding: 11.5px 0px;
    text-align: center;
    border: 1px solid #ddd;
    border-top: none;
}
.classfy_li_icon{
    background: url(../image/icons.png) no-repeat ;
    background-size: 40px;
    background-position-x: 20px;
}
.classfy_li_icon1{
    background-position-y: -2px;
}
.classfy_li_icon2{
    background-position-y: -45px;
}
.classfy_li_icon3{
    background-position-y: -92px;
}
.classfy_li_icon4{
    background-position-y: -136px;
}
.classfy_li_icon5{
    background-position-y: -178px;
}
.classfy_li_icon6{
    background-position-y: -223px;
}
.classfy_a_icon{
    background: url(../image/icons.png)no-repeat;
    background-position-x: 210px;
    background-position-y: -269px;
}
.classfy ul li a{
    display: block;
    color: #333;
}
.classfy ul li a:hover{
    color: #f80;
}
.swiper_container{
    clear: both;
    flex: 0.6;
    /* background: blue; */
    overflow: hidden;
    position: relative;

}

.product_right{
    flex: 0.2;
    font-size: 0px;
}
.product_right div{
    font-size: 0px;
}
.product_show_title{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid #37ab40; */
}
.product_title ul {
    display: flex;
    
}
.product_title ul li{
    padding: 10px 20px;
}
.product_show_title a{
    color: #666;
    font-size: 15px;
}
.product_show_title a:hover{
    color: #f80;
}
.product_title{
    display: flex;
    align-items: center;
    
}
.product_title h3{
    font-size: 16px;
}
.product_show_list{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #37ab40;
}
.product_show_list div{
    flex: 0.2125;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_show_list div img{
    width: 100%;
    height: 100%;
}
.product_show_list div:hover {
    border: 1px solid #37ab40;
    border-top: none;
    
}
.product_show_list div:nth-child(1){
    flex: 0.2;
    justify-content: left;
    border: none;
}
.footer{
    
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 12px;
    color: #666;
}
.footer div{
    flex: 1;
    margin: 10px 0px;
}
.footer div:nth-child(1){
    margin: 5px 0px;
}
.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text li{
    padding: 5px;
}
.footer_text li a{
    color: #666;
}
.footer_text li a:hover{
    color: #f80;
}
.foot_bar{
    margin-top: 40px;
    border-top: 2px solid #37ab40;
}